TradeTracker/Connected Services/SmartBbiService/WIwServiceSmBradSmBrad_SSL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WIwServiceSmBradSmBrad_SSL" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IWServiceSMBrad_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://www.smartbbi.com:44810/ServerWebServiceSM?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://www.smartbbi.com:44810/ServerWebServiceSM?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://www.smartbbi.com:44810/ServerWebServiceSM?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceCommon.Modelos.H" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWServiceSMBrad_ObtemNegocios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtemNegocios" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_ObtemNegocios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtemNegociosResponse" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_GarantiasDepositadas_InputMessage">
    <wsdl:part name="parameters" element="tns:GarantiasDepositadas" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_GarantiasDepositadas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GarantiasDepositadasResponse" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_ObtemMargem_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtemMargem" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_ObtemMargem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtemMargemResponse" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_CustosOperacionais_InputMessage">
    <wsdl:part name="parameters" element="tns:CustosOperacionais" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_CustosOperacionais_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustosOperacionaisResponse" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_GetNegocios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNegocios" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_GetNegocios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNegociosResponse" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_CustosOperacionaisBOV_InputMessage">
    <wsdl:part name="parameters" element="tns:CustosOperacionaisBOV" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_CustosOperacionaisBOV_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustosOperacionaisBOVResponse" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_ObtemNegociosBOV_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtemNegociosBOV" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_ObtemNegociosBOV_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtemNegociosBOVResponse" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_SimulaRisco_InputMessage">
    <wsdl:part name="parameters" element="tns:SimulaRisco" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_SimulaRisco_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimulaRiscoResponse" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_ObtemAluguelPosAber_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtemAluguelPosAber" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_ObtemAluguelPosAber_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtemAluguelPosAberResponse" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_ObtemAluguelMovNovos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtemAluguelMovNovos" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_ObtemAluguelMovNovos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtemAluguelMovNovosResponse" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_ObtemAluguelMovRenov_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtemAluguelMovRenov" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_ObtemAluguelMovRenov_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtemAluguelMovRenovResponse" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_ObtemAluguelMovLiq_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtemAluguelMovLiq" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_ObtemAluguelMovLiq_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtemAluguelMovLiqResponse" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_SetParam_InputMessage">
    <wsdl:part name="parameters" element="tns:SetParam" />
  </wsdl:message>
  <wsdl:message name="IWServiceSMBrad_SetParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetParamResponse" />
  </wsdl:message>
  <wsdl:portType name="IWServiceSMBrad">
    <wsdl:operation name="ObtemNegocios">
      <wsdl:input wsam:Action="http://tempuri.org/IWServiceSMBrad/ObtemNegocios" message="tns:IWServiceSMBrad_ObtemNegocios_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWServiceSMBrad/ObtemNegociosResponse" message="tns:IWServiceSMBrad_ObtemNegocios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GarantiasDepositadas">
      <wsdl:input wsam:Action="http://tempuri.org/IWServiceSMBrad/GarantiasDepositadas" message="tns:IWServiceSMBrad_GarantiasDepositadas_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWServiceSMBrad/GarantiasDepositadasResponse" message="tns:IWServiceSMBrad_GarantiasDepositadas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtemMargem">
      <wsdl:input wsam:Action="http://tempuri.org/IWServiceSMBrad/ObtemMargem" message="tns:IWServiceSMBrad_ObtemMargem_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWServiceSMBrad/ObtemMargemResponse" message="tns:IWServiceSMBrad_ObtemMargem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustosOperacionais">
      <wsdl:input wsam:Action="http://tempuri.org/IWServiceSMBrad/CustosOperacionais" message="tns:IWServiceSMBrad_CustosOperacionais_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWServiceSMBrad/CustosOperacionaisResponse" message="tns:IWServiceSMBrad_CustosOperacionais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNegocios">
      <wsdl:input wsam:Action="http://tempuri.org/IWServiceSMBrad/GetNegocios" message="tns:IWServiceSMBrad_GetNegocios_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWServiceSMBrad/GetNegociosResponse" message="tns:IWServiceSMBrad_GetNegocios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustosOperacionaisBOV">
      <wsdl:input wsam:Action="http://tempuri.org/IWServiceSMBrad/CustosOperacionaisBOV" message="tns:IWServiceSMBrad_CustosOperacionaisBOV_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWServiceSMBrad/CustosOperacionaisBOVResponse" message="tns:IWServiceSMBrad_CustosOperacionaisBOV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtemNegociosBOV">
      <wsdl:input wsam:Action="http://tempuri.org/IWServiceSMBrad/ObtemNegociosBOV" message="tns:IWServiceSMBrad_ObtemNegociosBOV_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWServiceSMBrad/ObtemNegociosBOVResponse" message="tns:IWServiceSMBrad_ObtemNegociosBOV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SimulaRisco">
      <wsdl:input wsam:Action="http://tempuri.org/IWServiceSMBrad/SimulaRisco" message="tns:IWServiceSMBrad_SimulaRisco_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWServiceSMBrad/SimulaRiscoResponse" message="tns:IWServiceSMBrad_SimulaRisco_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtemAluguelPosAber">
      <wsdl:input wsam:Action="http://tempuri.org/IWServiceSMBrad/ObtemAluguelPosAber" message="tns:IWServiceSMBrad_ObtemAluguelPosAber_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWServiceSMBrad/ObtemAluguelPosAberResponse" message="tns:IWServiceSMBrad_ObtemAluguelPosAber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtemAluguelMovNovos">
      <wsdl:input wsam:Action="http://tempuri.org/IWServiceSMBrad/ObtemAluguelMovNovos" message="tns:IWServiceSMBrad_ObtemAluguelMovNovos_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWServiceSMBrad/ObtemAluguelMovNovosResponse" message="tns:IWServiceSMBrad_ObtemAluguelMovNovos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtemAluguelMovRenov">
      <wsdl:input wsam:Action="http://tempuri.org/IWServiceSMBrad/ObtemAluguelMovRenov" message="tns:IWServiceSMBrad_ObtemAluguelMovRenov_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWServiceSMBrad/ObtemAluguelMovRenovResponse" message="tns:IWServiceSMBrad_ObtemAluguelMovRenov_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtemAluguelMovLiq">
      <wsdl:input wsam:Action="http://tempuri.org/IWServiceSMBrad/ObtemAluguelMovLiq" message="tns:IWServiceSMBrad_ObtemAluguelMovLiq_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWServiceSMBrad/ObtemAluguelMovLiqResponse" message="tns:IWServiceSMBrad_ObtemAluguelMovLiq_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetParam">
      <wsdl:input wsam:Action="http://tempuri.org/IWServiceSMBrad/SetParam" message="tns:IWServiceSMBrad_SetParam_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWServiceSMBrad/SetParamResponse" message="tns:IWServiceSMBrad_SetParam_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWServiceSMBrad" type="tns:IWServiceSMBrad">
    <wsp:PolicyReference URI="#BasicHttpBinding_IWServiceSMBrad_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtemNegocios">
      <soap:operation soapAction="http://tempuri.org/IWServiceSMBrad/ObtemNegocios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GarantiasDepositadas">
      <soap:operation soapAction="http://tempuri.org/IWServiceSMBrad/GarantiasDepositadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtemMargem">
      <soap:operation soapAction="http://tempuri.org/IWServiceSMBrad/ObtemMargem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustosOperacionais">
      <soap:operation soapAction="http://tempuri.org/IWServiceSMBrad/CustosOperacionais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNegocios">
      <soap:operation soapAction="http://tempuri.org/IWServiceSMBrad/GetNegocios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustosOperacionaisBOV">
      <soap:operation soapAction="http://tempuri.org/IWServiceSMBrad/CustosOperacionaisBOV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtemNegociosBOV">
      <soap:operation soapAction="http://tempuri.org/IWServiceSMBrad/ObtemNegociosBOV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SimulaRisco">
      <soap:operation soapAction="http://tempuri.org/IWServiceSMBrad/SimulaRisco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtemAluguelPosAber">
      <soap:operation soapAction="http://tempuri.org/IWServiceSMBrad/ObtemAluguelPosAber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtemAluguelMovNovos">
      <soap:operation soapAction="http://tempuri.org/IWServiceSMBrad/ObtemAluguelMovNovos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtemAluguelMovRenov">
      <soap:operation soapAction="http://tempuri.org/IWServiceSMBrad/ObtemAluguelMovRenov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtemAluguelMovLiq">
      <soap:operation soapAction="http://tempuri.org/IWServiceSMBrad/ObtemAluguelMovLiq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetParam">
      <soap:operation soapAction="http://tempuri.org/IWServiceSMBrad/SetParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WIwServiceSmBradSmBrad_SSL">
    <wsdl:port name="BasicHttpBinding_IWServiceSMBrad" binding="tns:BasicHttpBinding_IWServiceSMBrad">
      <soap:address location="https://www.smartbbi.com:44810/ServerWebServiceSM" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>